<!-- Component -->
<div class="component">
    <h3>@Title</h3>

    <div class="message">
        <p>Vänligen kontakta mig på <a href="mailto:many2005@student.miun.se">many2005@student.miun.se</a></p>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}