<nav>
    <div>
        <ul>
            <li>
                <!-- Route to index-page -->
                <NavLink href="/" Match="NavLinkMatch.All">Hem</NavLink>
            </li>
            <li>
                <!-- Route to convert-page -->
                <NavLink href="/convert">Konvertera</NavLink>
            </li>
            <li>
                <!-- Route to json-page -->
                <NavLink href="/json">Json</NavLink>
            </li>
        </ul>
    </div>
</nav>